{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/list.css')}}">
{% endblock %}

{% block body %}

	<div id="grid">
		{% for image in images %}
			<a href="{{ path('app_details', {imageName: image.filename}) }}" class="grid-link">
				<img src="{{image.path}}">
			</a>
		{% endfor %}
	</div>

{% endblock %}
